.product__content {
  float: left;
  width: 22%;
  display: block;
  align-items: center;
  padding: 20px;
  background: #fbfbfb;
  margin: 30px 10px;
  height: 500px;
}

.product__image {
  height: 230px;
}

.product__image > img {
  width: auto;
  height: 200px;
  margin-bottom: 13px;
}

.product__description,
.other__info {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  height: 85px;
}

.product__description > h3 {
  font-size: 18px;
  font-weight: 700;
}

.product__description > p {
  font-weight: 700;
  color: #b80371;
}

.other__info > h3 {
  font-size: 18px;
  font-weight: 700;
}

.other__info > p {
  font-weight: 700;
  color: #b80371;
}
